<div class="vercuadros">

    
    {{#each vercuadros}}
    
    {{#if condicion}}

    <button class="vercuad1">Num:<br>{{participante}}</button>

    {{else}}

    <button class="vercuad2">Num:<br>{{participante}}</button>

    {{/if}}

    {{/each}}




</div>