<div class="vercuadros">

    
    {{#each vercuadros}}
    
    {{#if condicion}}

    <button class="btn btn-primary vercuad1">Num:<br>{{participante}}</button>

    {{else}}

    <a href="/enviarmensaje/{{id_nsort}}">
    <button class="btn btn-primary vercuad2">Num:<br>{{participante}}</button>
    </a>

    {{/if}}

    {{/each}}




</div>

<script src="../javascripts/script.js"></script>